<% include ./partials/header %>
<div class="container">
	<div class="page-header text-center" style= "margin-top: 0px;">
		<h1><span></span> Profile Page</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-lg-3">
				
				<a type="button" class="btn btn-warning" href="/recipe" style="margin-left: 0px;border-left-width: 30px;border-right-width: 30px; font-size: 16px;">Create & Save Recipe's</a>
				<br><br>
				<div id="accordion" class="panel panel-default behclick-panel">
					<div class="panel-heading" style="background-color:#FA5858">
						<h3 class="panel-title" style="color: white; text-align: center; margin-bottom: 5px;">Search for Recipe's</h3>
						<input id="ingredient" type="text" placeholder="Type your Ingredient..." style="width:100%">
						
					</div>
					<div class="panel-body" >
						<div class="panel-heading " >
							<h4 class="panel-title">
							<a data-toggle="collapse" href="#diet">
								<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Diet
							</a>
							</h4>
						</div>
						<div id="diet" class="panel-collapse collapse in" >
							<ul class="list-group">
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="diet" value="387^Lacto-ovo vegetarian" checked="true">
											Lacto-Ovo-Vegetarian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="diet" value="389^Ovo vegetarian">
											Ovo Vegetarian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="diet" value="388^Lacto vegetarian">
											Lacto Vegetarian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="diet" value="386^Vegan">
											Vegan
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="diet" value="390^Pescetarian">
											Pescetarian
										</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-heading " >
							<h4 class="panel-title">
							<a data-toggle="collapse" href="#allergies">
								<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Allergies
							</a>
							</h4>
						</div>
						<div id="allergies" class="panel-collapse collapse in" >
							<ul class="list-group">
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="allergies" value="396^Dairy-Free" checked="true">
											Dairy
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio" >
										<label>
											<input type="radio" name="allergies" value="397^Egg-Free">
											Eggs
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio"  >
										<label>
											<input type="radio" name="allergies" value="393^Gluten-Free">
											Gluten-Free
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio"  >
										<label>
											<input type="radio" name="allergies" value="394^Peanut-Free">
											Peanuts
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio" >
										<label>
											<input type="radio" name="allergies" value="398^Seafood-Free">
											Seafood
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="allergies" value="400^Soy-Free">
											Soy
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="allergies" value="401^Sulfite-Free">
											Sulfite
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="allergies" value="395^Tree Nut-Free">
											Tree Nut
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="allergies" value="392^Wheat-Free">
											Wheat
										</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-heading" >
							<h4 class="panel-title">
							<a data-toggle="collapse" href="#cuisine"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Cuisine</a>
							</h4>
						</div>
						<div id="cuisine" class="panel-collapse collapse in">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="american" checked="true">
											American
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio" >
										<label>
											<input type="radio" name="cuisine" value="italian">
											Italian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="asian">
											Asian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="mexican">
											Mexican
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="southern">
											Southern & Soul Food
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="french">
											French
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="southwestern">
											Southwestern
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="barbecue">
											Barbecue
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="indian">
											Indian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="chinese">
											Chinese
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="cajun">
											Cajun & Creole
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio"v>
										<label>
											<input type="radio" name="cuisine" value="english">
											English
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="mediterranean">
											Mediterranean
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="greek">
											Greek
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="spanish">
											Spanish
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="thai">
											Thai
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="moroccan">
											Moroccan
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="irish">
											Irish
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="japanese">
											Japanese
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="cuban">
											Cuban
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="hawaiin">
											Hawaiin
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="swedish">
											Swedish
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="hungarian">
											Hungarian
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="radio">
										<label>
											<input type="radio" name="cuisine" value="portugese">
											Portugese
										</label>
									</div>
								</li>
								
							</ul>
						</div>
						<button id="searchButton" type="button" class="btn btn-warning" style="border-left-width: 93px;border-right-width: 93px;">Search</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-lg-9">
				<div class="recipes-list">
					<ul class="recipes-detail">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	function toggleChevron(e) {
		$(e.target)
				.prev('.panel-heading')
				.find("i.indicator")
				.toggleClass('fa-caret-down fa-caret-right');
	}
	$('#accordion').on('hidden.bs.collapse', toggleChevron);
	$('#accordion').on('shown.bs.collapse', toggleChevron);
</script>
<script src="js/combination.js"></script>
<% include ./partials/footer %>